body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  

  header {
    text-align:left;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 0;

  }
  li {
    list-style-type: none;
  }
  
 
  .menu {
    font-size: 1.2em;
  }
  span {
    text-decoration: underline;
  }

  main {
    display: flex;
    margin: 20px 0;
  }
  
  
  .grid-left {
    flex: 1;
    margin-right: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  
  a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: grey; 
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;


  }
  
  
   a:hover {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 2px solid  
  }
  
  
  .grid-right {
    flex: 2;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .side-bar {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(67, 173, 249);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  footer {
    margin-top: 20px;
    padding: 15px;
    background-color: lightgrey ; 
    color: black;
    text-align: center;
    border-radius: 5px;
  }
  @media screen and (max-width: 770px) {
    main {
      grid-template-columns: 1fr;
      grid-template-areas: "left" "right";
      gap: 0px;     
    }
}



